<h1>Créditos</h1>
<audio src="http://localhost:8000" type="audio/mp3"  autoplay loop></audio>
<p>
    Esta práctica ha sido desarrollada por Ignacio Collado del Ser y Ceśar Valencia Blancas
</p>

<img src="/images/lechuck.jpg" />

